.c-top-menu__wrapper {
	text-align:right;
	width: 80vw;
}
.c-top-menu__wrapper > a{
	margin: 0 1ex;
}

.c-top-menu__wrapper > a > img{
	height: 2em;
	display:inline-block;
	vertical-align: middle;
	margin-left: .5ex;
}
.c-header {
	text-align:center;
	height: 30vh;
	display:flex;
	align-items: center;
	justify-content: center;
}
.c-header > h1 >a {
	color: inherit;
	text-decoration:none;
}
.c-header > h1 > small {
	display:block;
	font-size: 16px;
}

.c-banner {
	width: 80vw;
	margin: 0 auto;
	text-align:center;
	justify-content: center;
}
.c-banner__step {
	width: 33.3%;
	margin: 2em;
}
.c-banner__step > img {
	max-width: 128px;
}

.c-social {
}

.c-social > h2{
	text-align:center;
}

.c-social-networks {
	justify-content: center;
	width: 80vw;
}

.c-social-networks__item {
	width: 20%;
	margin: 2em;
}
.c-social-networks__item {
	margin: 2em;
}
.c-social-networks__item > img{
	max-width: 64px;
	display:block;
}
.c-social-networks__item > h4{
	text-align:center;
}
.c-footer {
	width: 80vw;
	text-align:center;
}
